
<header>
  <h1>Make History</h1>
  <p>Create a journal of your most memorable life events.<p>


    <% if user_signed_in? %>

    <%= link_to 'View Journal', controller: 'entries' %>

    <%= link_to 'Create New Entry', new_entry_path %>

    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

    <% else %>
    <div class="login">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>

      <div class="field">
        <%= f.text_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
        <%= f.submit "Log in" %>
      </div>

      <%= link_to('Register', new_user_registration_path)  %>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>

      <div>

        <% end %>

        <h2><%= Date.today.to_s(:long) %></h2>
      </header>
      <div class="onthisday">
        <h2>On This Day In History</h2>

        <%= @month %>
        <ul>
          <!-- <%= @theyear.try(:html_safe) %> -->
          <%= @onthisday.to_s.html_safe %>
        </ul>
      </div>
