<!DOCTYPE html>
<html>
<head>
  <title>Make History</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <div class="copyright">
        &copy;<%= @year %> Candice Davidson
      </div>
      <div class="attr">
        Attributions:<br>
        Inspirational Quotes: Forismatic API<br>
        On This Day In History facts web scrape: Factmonster.com
      </div>
    </div>
  </footer>
</body>
</html>
